<!DOCTYPE html>
<html>
<head>
    <title><%= clinic.name %></title>
    <!-- Make sure you link to your CSS files here -->
</head>
<body>
    <h1><%= clinic.name %></h1>
    <div class="css-175oi2r r-18u37iz" style="flex-grow: 1; justify-content: center;">
        <ul>
            <li role="listitem" class="css-175oi2r" style="margin-right: 20px;">
                <a href="#introduction" tabindex="0" class="css-175oi2r r-1i6wzkk r-lrvibr r-1loqt21 r-1otgn73" style="margin-right: 20px; transition-duration: 0s;">
                    <div dir="auto" class="css-146c3p1" style="font-size: 15px; font-weight: 700; text-transform: uppercase; color: rgb(40, 49, 63);"> Giới Thiệu</div>
                </a>
            </li>
            <li role="listitem" class="css-175oi2r" style="margin-right: 20px;">
                <a href="#specialty" tabindex="0" class="css-175oi2r r-1i6wzkk r-lrvibr r-1loqt21 r-1otgn73" style="margin-right: 20px; transition-duration: 0s;">
                    <div dir="auto" class="css-146c3p1" style="font-size: 15px; font-weight: 700; text-transform: uppercase; color: rgb(40, 49, 63);"> Chuyên Môn</div>
                </a>
            </li>
            <li role="listitem" class="css-175oi2r" style="margin-right: 20px;">
                <a href="#doctors" tabindex="0" class="css-175oi2r r-1i6wzkk r-lrvibr r-1loqt21 r-1otgn73" style="margin-right: 20px; transition-duration: 0s;">
                    <div dir="auto" class="css-146c3p1" style="font-size: 15px; font-weight: 700; text-transform: uppercase; color: rgb(40, 49, 63);"> Các Bác Sĩ</div>
                </a>
            </li>
            <li role="listitem" class="css-175oi2r" style="margin-right: 20px;">
                <a href="#booking" tabindex="0" class="css-175oi2r r-1i6wzkk r-lrvibr r-1loqt21 r-1otgn73" style="margin-right: 20px; transition-duration: 0s;">
                    <div dir="auto" class="css-146c3p1" style="font-size: 15px; font-weight: 700; text-transform: uppercase; color: rgb(40, 49, 63);"> Đặt Lịch</div>
                </a>
            </li>
            <li role="listitem" class="css-175oi2r" style="margin-right: 20px;">
                <a href="#location" tabindex="0" class="css-175oi2r r-1i6wzkk r-lrvibr r-1loqt21 r-1otgn73" style="margin-right: 20px; transition-duration: 0s;">
                    <div dir="auto" class="css-146c3p1" style="font-size: 15px; font-weight: 700; text-transform: uppercase; color: rgb(255, 194, 14); text-decoration-line: underline;"> Vị Trí</div>
                </a>
            </li>
        </ul>
    </div>

    <div id="introduction">
        <h2>Giới Thiệu</h2>
        <p><%= clinic.introduction %></p>
    </div>

    <div id="specialty">
        <h2>Chuyên Môn</h2>
        <p><%= clinic.specialty %></p>
    </div>

    <div id="c">
        <h2>Các Bác Sĩ</h2>
        <p><%= clinic.doctors %></p>
    </div>

    <div id="booking">
        <h2>Đặt Lịch</h2>
        <p><%= clinic.booking %></p>
    </div>

    <div id="location">
        <h2>Vị Trí</h2>
        <p><%= clinic.location %></p>
    </div>
    
    <!-- Make sure you link to your JS files here -->
</body>
</html>
