<!DOCTYPE html>
<html>
<head>
    <title>Edit Clinic</title>
</head>
<body>
    <h1>Edit Clinic</h1>
    <form action="/clinic/edit/<%= clinic.slug %>" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= clinic.name %>">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" value="<%= clinic.address %>">
        <label for="description">Description:</label>
        <textarea id="description" name="description"><%= clinic.description %></textarea>
        <label for="introduction">Giới Thiệu:</label>
        <textarea id="introduction" name="introduction"><%= clinic.introduction %></textarea>
        <label for="specialty">Chuyên môn:</label>
        <textarea id="specialty" name="specialty"><%= clinic.specialty %></textarea>
        <label for="doctors">Các Bác Sĩ:</label>
        <textarea id="doctors" name="doctors"><%= clinic.doctors %></textarea>
        <label for="booking">Đặt Lịch:</label>
        <textarea id="booking" name="booking"><%= clinic.booking %></textarea>
        <label for="location">Vị Trí:</label>
        <textarea id="location" name="location"><%= clinic.location %></textarea>


        <input type="submit" value="Update">
    </form>
</body>
</html>
